
<link rel="stylesheet" href="https://unpkg.com/vssue/dist/vssue.min.css">
<script src="https://unpkg.com/vue/dist/vue.runtime.min.js"></script>
 <script src="https://unpkg.com/vssue/dist/vssue.github.min.js"></script>
 <style>


.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #ff9215;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}
.vssue .vssue-pagination .vssue-pagination-select {
    outline: none;
    background-color: #22231f;
    border: 1px solid #9adbbe;
}
.vssue-new-comment-body > textarea {
  color: #ff9215;
}
</style>
<div id="vssue"></div>
<script>
    new Vue({
      el: '#vssue',

      render: h => h('Vssue', {
        props: {
          // 在这里设置当前页面对应的 Issue 标题
          prefix: '{{page.categories[0]}}',
          labels: ['{{ page.tags | join: "','" }}'],
          title: '{{page.title}}',

          // 在这里设置你使用的平台的 OAuth App 配置
          options: {
            owner: '{{site.git_owner}}',
            repo: '{{site.git_repo}}',
            clientId: '{{site.git_clientID}}',
            admins: ['{{ site.git_admin | join: "','" }}'],
            clientSecret: '{{site.git_clientSecret}}', // 只有在使用某些平台时需要
          },
        }
      })
    })
  </script>



